@import 'styles/colors.scss';

$dotsize: 10px;

.location-indicator {
    position: fixed;
    top: 50%;
    right: 10px;

    display: flex;
    flex-direction: column;

    span {
        display: inline-block;

        height: $dotsize;
        width: $dotsize;
        margin: $dotsize/3 0;

        border-radius: 50%;
        border: 1px solid $papaya;
        background-color: $white;

        &.active {
            border-color: $royaleBlue;
            background-color: $royaleBlue;
        }
    }
}
