@import 'styles/colors.scss';

.menu {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9000;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;

    opacity: 0;
    transition: opacity 300ms linear;

    &.visible {
        opacity: 1;
        background: rgb(255, 187, 161);
    }

    .header {
        grid-area: top;
        height: 100px;
    }

    .menu-content {
        position: sticky;
        width: 100vw;
        height: calc(100vh - 100px);

        display: flex;
        justify-content: center;
        align-items: center;

        opacity: 0;

        &.visible {
            opacity: 1;
        }

        ul {
            list-style: none;

            li a {
                color: $white;
                text-decoration: none;
                font-size: 24px;
                line-height: 48px;

                transition: text-shadow 300ms linear;

                &:hover {
                    text-shadow: 0 0 10px $white, 0px 0px 2px rgba(255, 255, 255, 0);
                }
            }
        }
    }
}
