/* Color setup
Definition of all CI colors of karmakurier branding. Put all definitions here and use variables.
*/

// Primary colors
$royaleBlue : #2d3cb9;
$papaya     : #ff966e;
$black      : #1e1e1e;
$white      : #fff;

// Secondary colors
$grey1      : #e9e9e9;
$grey2      : #bcbcbc;
$grey3      : #8f8f8f;
$grey4      : #626262;

// Interaction
$interactionBlue    : #051ea7;

// Notification
$infoFull       : #2d3cb9;
$infoLight      : #eaecf8;
$errorFull      : #db3817;
$errorLight     : #fdeae6;
$warningFull    : #feb530;
$warningLight   : #fff7e8;
$successFull    : #2db973;
$successLight   : #dcf3dc;

$primary: #ff966e;
$secondary: #2d3cb9;
//$black: #1e1e1e;
$gray: lighten($black, 20%);
$danger: #e94438;
$success: #22ac29;
$disabled: #bbb;